@{
    ViewBag.Title = "Login";
}

@section styles{
    <link href="~/Content/Login/login.css" rel="stylesheet" />
    }

<div class="row" ng-app="Auth">
    <div class="col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <strong>Login Wizard</strong>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-controller="AuthController" ng-submit="login()" id="loginForm">
                    <br /><br />
                    <div class="form-group">
                        <label class="control-label col-sm-4">Username</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="User.username" id="Username" placeholder="Enter Username" />
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-sm-4">Password</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" ng-model="User.password" id="Password" placeholder="Enter Password" />
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <input type="submit" class="btn btn-success btn-block" value="Login" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="panel-footer"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/App/Auth/AuthController.js"></script>
    }