
<h3>Create Contact Info</h3>

<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">
            <strong>New Contact Info</strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" ng-controller="createController" id="loginForm">
                <br /><br />
                <div class="form-group">
                    <label class="control-label col-sm-4">First Name: </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="contactInfo.firstName" id="firstName" placeholder="Enter Username" />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="control-label col-sm-4">Last Name</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="contactInfo.lastName" id="lastName" placeholder="Enter Password" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4">Telephone 1</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="contactInfo.telephone1" id="telephone1" placeholder="Enter Password" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4">Telephone 2</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="contactInfo.telephone2" id="telephone2" placeholder="Enter Password" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4">Email Address</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="contactInfo.emailAddress" id="emailAddress" placeholder="Enter Password" />
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <input type="button" ng-click="createContactInfo(contactInfo)" class="btn btn-success btn-block" value="Create Contact Info" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>