@model IEnumerable<PhonebookManager.DataAccess.Models.ContactInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContactInfo.cshtml";
}

@section styles{
    <link href="~/Content/Login/login.css" rel="stylesheet" />
    <link href="~/Content/contactinfo/contactInfo.css" rel="stylesheet" />
    }

<div class="sidenav">
    <a href="#!/CreateContactInfo">Create Contact Info</a>
</div>


<div class="main">
    <ng-view>

    </ng-view>
</div>

@section scripts{
    <script src="~/Scripts/Angular/angular-route.js"></script>
    <script src="~/Scripts/App/ContactInfo/contactInfoConfig.js"></script>
    <script src="~/Scripts/App/ContactInfo/ngcontrollers/listController.js"></script>
    <script src="~/Scripts/App/ContactInfo/ngcontrollers/viewController.js"></script>
    <script src="~/Scripts/App/ContactInfo/ngcontrollers/createController.js"></script>
    <script src="~/Scripts/App/ContactInfo/ngcontrollers/editController.js"></script>
    <script src="~/Scripts/App/ContactInfo/ngcontrollers/deleteController.js"></script>
    }