body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: rgba(139,69,19, 0.9);
    overflow-x: hidden;
    padding-top: 20px;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        color: white;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
            background: rgb(139,69,19);
        }

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.navbar-right{
    margin-right: 50px !important;
}

.panel{
    margin-top: 20px;
    width: 80%;
}

.btnAdjustments{
    margin-top: 30px;
    margin-right: 40px;
}

.rowAdjustments{
    padding-left: 10px;
}


/*.panel-footer {
    color: #3a87ad;
    background-color: #d9edf7;
}*/

    .panel-footer p {
        text-align: center;
    }

.panel-body img {
    height: 60px;
    width: 80px;
}

.panel-body .labelAdjustments {
    width: 150px;
}

.panel-body span {
    width: 150px;
}

.panel-body .rowModification {
    padding-left: 30px;
}

.deleteButtons {
    padding-left: 30px;
}

.form-group span {
    color: red;
}